{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static "css/blog.css" %}" rel="stylesheet" >
</head>
<body>
    <div id="content">        
        {% block content %} {% endblock %}
    </div>
    <div id="sidebar">
        <h2>Million light years away</h2>
            <p>Wall-E-1000000001</p>
    </div>
</body>
</html>
