{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <p class="date">
            Published {{ post.publish }}  by {{ post.author }}
    </p>
    {{ post.body | safe }}
{% endblock %}
